.wrapper {
  display: flex;
  justify-content: center;
 
}

.accordion-wrapper {
  width: 50%;
  padding: 16px;
}

.accordion {
  padding-bottom: 8px;
  margin-top: 32px;
}
.enable-disable-button {
    padding: 8px;
    color: black;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;

}

.accordion-button {
    background-color: transparent;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
